{% extends "::base.html.twig"%}

{% block title 'Saved Search Settings' %}

{% block body %}
    {% block content_header %}
        <h2 class="text-center">Saved Search Settings</h2>
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
